body {
    background-color: lightgray;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #222222;
    color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.pro {
    display: flex;
    position: relative;
}

.pro1 {
    background-color: white;
    height: 250px;
    width: 250px;
    margin: 0.5%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img1 {
    height: 90px;
    width: 90px;
    border-radius: 150px;
    border: 2.5px solid purple;
    margin-bottom: 120px;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro2 {
    background-color: white;
    height: 250px;
    width: 250px;
    margin: 0.5%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 230px;

}

.text {

    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
}

.card-container {
    display: flex;
    gap: 50px;
}

.card {
    height: 150px;
    width: 250px;
    perspective: 1000px;
    /* creates 3D effects */
}

.card-front {
    height: 100%;
    width: 100%;
    background-color: orange;
    color: white;
}

.card-back {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 195, 255);
    color: white;
    transform: rotateY(180deg);
}

.cc1 {
    background-color: rgb(133, 59, 6);
    color: white;
}

.cc2 {
    background-color: rgb(0, 132, 255);
    color: white;
}


.card-inner {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;

}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.button {
    display: flex;
    position: relative;
    gap: 200px;
}

.button-1 {
    background-color: #0984E3;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0 3px 5px black;
    font-size: large;
}

.button .button-1:hover {

    cursor: pointer;
    box-shadow: 10px 10px 50px #6C5CE7;
    color: white;
    transition: 0.2s;

}

.button-2 {
    background-color: #6C5CE7;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0 3px 5px black;
    font-size: large;


}

.button .button-2:hover {

    cursor: pointer;
    box-shadow: 10px 10px 50px #6C5CE7;
    color: white;
    transition: 0.2s;

}

.image-gallery {
    display: flex;
    justify-content: space-evenly;

}

.image-1,
.image-2,
.image-3 {
    overflow: hidden;
    /* hides overflow when zooming */
    border-radius: 10px;
    box-shadow: 0 4px 8px black;

    height: 250px;
    width: 300px;

}

.images .i {
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
    object-fit: contain;
}

.images:hover {
    transform: scale(1.2) rotate(10deg);
}