*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
     height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

html{
    font-size: 18px;
}
.header {
    background-color: white;
    justify-content: space-around;
    display: flex;
    /* height: 50px; */
    align-items: center;
    z-index: 1;
    height: 100px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}

.sec-1{
   
  background-color: #01395A; 


}

.sec-2{
   
    height: 181px;
 display: flex;
 justify-content: center;
 align-items: center;
 
    background-color: #01395A; 
}

.a1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
       color: white;
}


.container{
   
  background-color: #01395A; 
 height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding:0 150px;
    align-items: center;
    text-align: center;
 

}